@@ -101,7 +101,7 @@ <h2 class="carrossel__titulo">Novos lançamentos</h2>
        <!-- Additional required wrapper -->
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <!-- Slides -->
          <div class="swiper-slide"><img src="img/Apachekafka.svg"
          <div class="swiper-slide"><img src="img/ApacheKafka.svg"
              alt="Livro sobre apache kafka e spring boot da alura books"></div>
              alt="Livro sobre apache kafka e spring boot da alura books"></div>
          <div class="swiper-slide"><img src="img/Liderança.svg"
          <div class="swiper-slide"><img src="img/Liderança.svg"
              alt="Livro sobre liderança em design design da alura books"></div>
              alt="Livro sobre liderança em design design da alura books"></div>
@@ -245,7 +245,7 @@ <h2 class="contato__titulo">Fique por dentro das novidades!</h2>
        Atualizações de e-books, novos livros, promoções e outros.
        Atualizações de e-books, novos livros, promoções e outros.
      </p>
      </p>
    </div>
    </div>
    <input type="email" placeholder="         Cadastre seu e-mail" class="contato__email" />
    <input type="email" placeholder="        Cadastre seu e-mail" class="contato__email">
  </section>
  </section>


  <hr />
  <hr />
@@ -335,8 +335,8 @@ <h2 class="rodapé__titulo">Grupo Alura</h2>
      spaceBetween: 10,
      spaceBetween: 10,
      slidesPerView: 3,
      slidesPerView: 3,
      pagination: {
      pagination: {
        el: ".swiper-pagination",
        el: '.swiper-pagination',
        type: "bullets",
        type: 'bullets',
      },
      },
    });
    });
  </script>
  </script>
